/node_modules
mix-manifest.json
.phpunit.result.cache
yarn-error.log
.idea
.vscode
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
.AppleDouble
.LSOverride
.htaccess
package-lock.json
/assets
/logs/*
*.css.map
*.js.map
/app-assets/css/app.css
/app-assets/js/app.js